
body {
    overflow-x: hidden;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;


}
#promo-bar {
    background: linear-gradient(90deg, rgba(7,100,196,1) 0%, rgba(45,45,158,1) 0%, rgba(0,206,255,1) 100%);
    color: #ffffff;
    padding: 5px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 200000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    

}

.promo-text {
    padding: 5px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: bold;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.view-btn {
    margin-right: 670px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 5px 15px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.view-btn:hover {
    background-color: #39b628;
    color: white;
}

.close-btn {
    color: white;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
    margin-right: 15px;
}

/* CSS برای پیکسل‌ها */
.div2 {
    z-index: 2000;
    position: absolute;
    background-color: #ffcc00;
    border-radius: 50%; /* برای شکل دایره‌ای */
    pointer-events: none; /* جلوگیری از تعامل با پیکسل‌ها */
}


.navbar-container {
    margin-top: 23px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 50%;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    transform: translateX(-50%);
    z-index: 6000;

}

.navbar-items ,.navbar-items a{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: ease 0.3s;
    -webkit-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    -ms-transition: ease 0.3s;
    -o-transition: ease 0.3s;
}
.navbar-items a:hover {
    color: #4874d1;
}
.logo img {
    margin-left: -15px;
    align-items: center;
    width: 40px;
    vertical-align: middle;
}
.logo {
    margin-left: 50px;
    align-items: center;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}
.logo a{
    font-size: 22px;
    font-weight: 700;
}
.login {
    border-radius: 20px;
    padding: 7px 15px;
    color: white;
    background: linear-gradient(120deg, #4874d1,#4874d1, #4f4fc8);
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out;
}

.login::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 150%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.507), transparent);
    transform: skewX(-20deg);
    transition: left 0.7s ease-in-out;
}

.login:hover::before {
    left: 100%;
}

.login svg {
    vertical-align: middle;
    transition: color 0.3s ease-in-out;
}

.login:hover {
    background-color: #4f4fc8;
}

.login:hover svg {
    color: #ffffff;
}
.add-to-cart svg {
    fill: rgb(110, 109, 109);
    margin-left: 10px;
    vertical-align: middle;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.add-to-cart svg:hover {
    fill: #4874d1;

}
.dropdown {
    position: relative;
    

}
.dropdown-menu hr {
    width: 70px;
}
.dropdown-menu {
    font-size: 15px;
    padding-top: 3px;
    width: 100px;
    position: absolute;
    top: 100%;
    margin-left: -20px;
    background-color: white;
    border-radius: 6px;
    z-index: 1000;
    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    -o-transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.dropdown:hover .dropdown-menu {
    transform: translateY(0); /* موقعیت نهایی منو */
    opacity: 1; /* شفافیت نهایی منو */
    visibility: visible; /* نمایش منو */
    
}

.dropdown-menu a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
background: linear-gradient(90deg, rgba(7,100,196,1) 0%, rgba(45,45,158,1) 0%, rgba(0,206,255,1) 100%);
    color: white;

}

.main-content {
    margin-left: 25px;
    display: flex;
    padding: 70px 100px;
    gap: 20px;
}

.daily-discount {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    flex: 0 0 15%;
    background-color: #fcfcfc;
    padding: 10px 0px 30px 0px;
    border-radius: 10px;
    height: 610px;
    color: rgb(201, 201, 201);
}

.discount-items {
    
    display: flex;
    flex-direction: column; /* حالت پیش‌فرض ستون */
}

.discount-item {
    border-bottom: solid 1px #c5c5c5;
    background-color: transparent;
    display: flex;
    align-items: center;
    color: black;
    padding: 5px 10px;
    transition: ease 0.3s;
}

.discount-item:hover {
    border-radius: 5px;
    color: white;
    background-color: #4874d1;
    border: none;
    transform: scale(1.05);

}

.grid-view .discount-items {
  
  
    padding: 0;
    margin-bottom: -124px;

}

.hidden {
    display: none;
}

h2 {
    color: #4874d1;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    text-align: right;
    margin-bottom: 70px;
    margin-right: 15px;
    margin-top: 5px;
}
.daily-discount hr {
   margin-bottom: 0px;
    height: 1px;
   background-color: #c5c5c5;
   border: none;
   transition: all 0.5s;
   -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   -ms-transition: all 0.5s;
   -o-transition: all 0.5s;

}
.more-item {
    cursor: pointer;
    margin-top: 133px;
    display: flex;
    justify-content: center;
    color: #5e5e5e;
    transition: all 0.3s;
}
.more-item:hover {
    color: #1b1b1b;
}
.discount-item img {
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    width: 30px;
    height: 30px;
    min-height: 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.item-name {
    text-align: right;
    flex: 1;
}

/*  */
.slider-container {
    flex: 1;
    position: relative;
    overflow: hidden;
    z-index: 10; /* اضافه کردن z-index بالاتر برای اسلایدر */
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    cursor: grab;
    gap: 20px;
}

.slider.grabbing {
    cursor: grabbing;
}

.slide {
    min-width: calc(100% - 20px);
    user-select: none;
    transition: transform 0.5s ease-in-out;
    box-sizing: border-box;
}

.slide img {
    display: block;
    width: 100%;
    border-radius: 10px;
    -webkit-user-drag: none;
    
}

.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    padding: 0 20px;
    box-sizing: border-box;
    pointer-events: none;
}

.controls .prev, .controls .next {
    cursor: pointer;
    font-size: 30px;
    color: #ffffff;
    padding: 10px;
    margin-right: 20px;
    border-radius: 50%;
    pointer-events: all;
    transition: all 0.3s;
}

.controls .prev:hover, .controls .next:hover {
    color: #7ca2f3;
}
.dots {
    z-index: 5;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 30px;
    text-align: center;
    padding: 6px 0;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #5a5959;
    border-radius: 50%;
    display: inline-block;
    transition: ease 0.5s;
}

.dot.active {
    border-radius: 30px;
    width: 30px;
    background-color: #00b7ffe8;
}


/* Offer Products */
.offer-products {
    margin-top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer-products .line {
    flex-grow: 1;
    height: 1px;
    background-color: #4874d1; /* رنگ خط */
    border: none;
    margin: 0 80px; /* فاصله بین خط و عنوان */
}

.offer-products .offer-title {
    font-weight: 600;
    margin: 0;
    padding: 0; /* فاصله داخلی برای عنوان */
    font-style: normal;
    text-align: center;
}

.filter-container {
    margin: 0 100px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    
}
.filter-img {
    margin: 50px -20px 0px -20px;
    height: 200px;
    width: 5700px;
    
}
.filter-img img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    
}
.filter-img img:hover {
    transform: translateY(-10px);
    animation: float 2s infinite ease-in-out 0.6s;

    -webkit-animation: float 2s infinite ease-in-out 0.6s;
}

@keyframes float {
    0%, 100% {
        transform: translateY(-10px); /* موقعیت بالا */
    }
    50% {
        transform: translateY(0px); /* بازگشت به حالت اولیه (وسط) */
    }
}
h5 {
    border-radius: 30px;
    padding: 5px 2px;
    margin-bottom: 10px;
    transform: translateX(-50%);
    left: 50%;
    width: 150px;
    background-color: #2959c2;
    position: relative;
    color: #ffffff;
    margin-top: 45px;
    font-size: 15px;
    text-align: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease; /* بهبود انیمیشن */
}

h5:hover {
    transform: translateX(-50%) translateY(-10px); /* حرکت به سمت بالا */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 16px, rgba(17, 17, 26, 0.1) 0px 16px 24px, rgba(17, 17, 26, 0.1) 0px 24px 36px; /* سایه بیشتر */
}


.middle-end-section {
    margin-top: 100px;
    height: 400px;
    width: 100%;
    background-color: #2959c2;
    box-shadow: 
    0px -10px 60px rgba(0, 0, 0, 0.322), /* سایه بالا */
    0px 0px 5px rgba(0, 0, 0, 0.507); /* سایه عمومی نرم */
} 
.end-start-section {
    height: 300px;
    width: 100%;

} 
.offer-products2 {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer-products2 .line2,.line3 {
    border-radius: 20px;
    flex-grow: 12;
    height: 3px;
    background-color: #5b81d3;
    /*رنگخط*/border: none;
    margin: 30px 50px;  
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.offer-products2 .line3 {
    flex-grow: 1;
}
.offer-products2 .offer-title2 {
    color: white;
    font-weight: 600;
    margin: 0;
    padding: 0; /* فاصله داخلی برای عنوان */
    font-style: normal;
    text-align: center;
}
.offer-products2 svg {
    font-weight: 700;
    margin-left:10px;
}

.slider2 {
    margin-left: 100px;
    border-radius: 10px;
    padding: 0px 10px;
    background-color: white;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1078px; /* تنظیم عرض اسلایدر به اندازه مطلوب */

    height: 300px;
}

.card-container {
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    overflow: hidden;
    width: 100%;
}

.card-items {
    margin-bottom: 100px;
    display: flex;
    transition: transform 0.5s ease;
}

.card-item img {
    transform: translateX(-50%);
    left: 50%;
    position: relative;
    display: flex;
    justify-content: center;
}
.card-item {
    
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px 0px 5px 0px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}
.card-item:hover {
    transform: translateY(-10px);
}
.card-item img {
    border-radius: 10px 10px 0px 0px;
    height: 170px;
    width: 150px;
    object-fit: cover; /* این ویژگی باعث می‌شود تصویر به صورت مناسب بریده شود تا ابعادش حفظ شود */
    object-position: center; /* این ویژگی مشخص می‌کند که تصویر از کدام قسمت بریده شود */
}

.card-item hr {
    width: 120px;
    margin-bottom: 2px;
}
.item-info {
    position: relative;
    left: 50%;
    transform: translateX(-55%);
    width: 140px;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: -10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -10px;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.game-name {
    height: 40px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    font-weight: 450;
    margin-top: 10px;
    color: rgb(77, 77, 77);
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    margin-bottom: 5px;
}
.item-info svg {
    fill: #2959c2;
}
.toman {
    font-size: 13px;
    margin-left: 3px;
    border-radius: 5px;
    padding: 2px 5px;
    color: white;
    background-color: #533bf6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.off-div {
    font-weight: 700;
    font-size: 13px;
    position: absolute;
    z-index: 100;
    background-color: rgb(231, 29, 97);
    color: white;
    padding: 4px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.off-div p {
    margin: 0;
    padding: 0;
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #2959c2;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s;
}

.prev2 {
    border-radius: 0px 5px 5px 0px;
    padding: 3px 5px 5px 0px;
    font-size: 20px;
    left: 0px;
}

.next2 {
    border-radius: 5px 0px 0px 5px;
    padding: 3px 0px 5px 5px;
    font-size: 20px;
    right: 0px;
}
.scroll-btn:hover {
    transform: scale(1.2) translateY(-40%);
}
.timer-container {
    position: absolute;
    right: 150px;
    bottom: -620px;
    width: 400px;
    text-align: center;


}

h1 {
    margin-bottom: 20px;
}

#countdown {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#countdown div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#countdown span {
    font-size: 40px;
    font-weight: bold;
    color: #333;
}
.timer-name {
    margin-left: 23px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    width: 700px;
    color: white;
    align-content: center;
    align-items: center;
    align-self: center;
    vertical-align: middle;
}
.timer-name svg {
    margin-left: 10px;
    position: relative;

    width: 30px;
    height: 30px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    

}
